.navcont{
    background-color: transparent;
    color:  white;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: black;
    z-index: 50;
}
.nav-heading-cont{
    width: 40%;
    display: flex;
}
.nav-heading{
    cursor: pointer;
    display: flex;
    color:  white;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-heading2{
    display: flex;
    color: #4E4FEB;
}
.nav-items{
    display: flex;
    width: 80%;
    justify-content: right;
}
.navitem{
    display:  flex;
    color: wheat;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
}
.navitem:hover{
    color: white;
    cursor: pointer;
    text-shadow: #4E4FEB;
    font-weight: bold;
}