.aboutcont{
    padding-top: 80px;
    width: 100%;
    text-align: center;
}
.abtheading{
    font-weight: bold;
    color: white;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.abtheading2{
    padding-left: 5px;
    color:#4E4FEB;
}
.abtbox
{
    display: flex;
    width: 100%;
    justify-content: center;
}
.abtinnerbox{
    display: flex;
    width: 80%;
    padding-top: 40px;
}
.abtimgcont{
    width: 45%;
}
.abtimg{
    height: 280px;
    border-radius: 40px;
    margin-left: 70px;
}
.abtinfocont{
    width: 70%;
    padding-top: 20px;
    text-align: left    ;
}
.abtinfoh1{
    font-weight: bold;
}
.abtinfoh1, .abtinfoh2, .abtinfoh3{
    text-align: left;
    padding-left: 18%;
    color: white;
    padding-top: 5px;
    font-size: 1.3rem;
}

.resume{
    margin-top: 40px;
    margin-left: 18%;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to left,white,#6767f5);
    color: black;
    cursor: pointer;
    border: none;
}
.resume:hover{
    box-shadow: 5px 5px 10px 0 white;
}

@media screen and (min-width:800px) and (max-width: 1000px) {
    .abtheading{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px) {
    .abtheading{
        padding-top: 30px;
        font-size: 30px;
    }
    .abtimg{
        height: 180px;
        margin-left: 20px;
    }
    .abtimgcont{
        padding-top: 20px;
    }
    .abtinfoh1, .abtinfoh2, .abtinfoh3{
        font-size: 15px;
    }
    .resume{
        margin-top: 20px;
        margin-left: 18%;
        height: 30px;
        width: 80px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 600;
        background-image: linear-gradient(to left,white,#6767f5);
        color: black;
        cursor: pointer;
        border: none;
    }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
    .abtheading{
        padding-top: 30px;
        font-size: 30px;
    }
    .abtimg{
        height: 200px;
        margin-left: 20px;
    }
    .abtimgcont{
        padding-top: 20px;
    }
    .abtinfoh1, .abtinfoh2, .abtinfoh3{
        font-size: 18px;
    }
    .resume{
        margin-top: 30px;
        margin-left: 18%;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        background-image: linear-gradient(to left,white,#6767f5);
        color: black;
        cursor: pointer;
        border: none;
    }
}