.skillicon{
    padding: 20px;
    height: 85px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  /* background: rgb(224, 214, 231); */
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.skillicon:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 20px 20px rgba(187, 60, 10, 0.4);
}
@media screen and (max-width: 600px) {
  .skillicon{
    height: 40px;
  }
}
@media screen and (max-width: 900px) and (min-width:600px) {
  .skillicon{
    height: 60px;
  }
}