.intro-cont{
    display: flex;
    align-items: center;
    padding-top: 100px;
    text-align: center;
    width: 100%;
    justify-content: center;
}
.intro-sect{
    width: 40%;
    text-align: left;
}
.introheading{
    color: white;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img-cont{
    width: 40%;
    height: 450px;
    display: flex;
    justify-content: center;
}
.introheading2{
    color: white;
    font-size: 3.4rem;
    display: flex;
}
.img-sect{
    margin-top: 30px;
    padding-right: 50px;
    width: 300px;
}
.introtypewriter{
    color: white;
    font-size: 1.3rem;
}
.introcolor{
    padding-left: 5px;
    color:#4E4FEB;
    display: flex;
}
.socialicons{
    padding-top: 10px;
}
@media screen and (min-width:600px) and (max-width: 800px) {
    .introheading{
        font-size: 30px;
    }    
    .img-cont{
        width: 30%;
        height: 300px;
    }
    .introheading2{
        font-size: 30px;
    }
    .introtypewriter{
        font-size: 20px;
    }
}
@media screen and (min-width:800px) and (max-width: 1000px) {
    .introheading{
        font-size: 35px;
    }    
    .img-cont{
        width: 30%;
        height: 300px;
    }
    .introheading2{
        font-size: 35px;
    }
    .introtypewriter{
        font-size: 20px;
    }
}
@media screen and  (max-width: 600px) {
    .introheading{
        font-size: 25px;
    }    
    .img-cont{
        width: 50%;
        height: 250px;
    }
    .introheading2{
        font-size: 25px;
    }
    .introtypewriter{
        font-size: 15px;
    }
}
@media screen and (max-width:400px) {
    .intro-cont{
        display: block;
    }
    .introheading{
        font-size: 20px;
        padding-left: 15px;
    }
    .introheading2{
        font-size: 22px;
        padding-left: 15px;
    }
    .introtypewriter{
        font-size: 15px;
        font-weight: lighter;
        padding-left: 15px;
    }
    .intro-sect{
        width: 100%;
    }
    .img-cont{
        width: 100%;
    }
    .img-sect{
        width: 100%;
        padding-right: 0px;
    }
    
}