.main{
    width:60%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #282828;
    border-radius: 20px;
}
.head{
    color: white;
    font-size:x-large;
    font-weight: 600;
    margin-bottom: 5px;
}
.leet-img{
    margin-right: 10px;
    margin-top: 8px;
}
.title{
    color:aliceblue;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.circle-progress{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.bar-progress{
    width: 70%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub{
    margin-bottom: 10px;
}
.sub-sub{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    color:aliceblue;
    font-size: large;
    font-weight: 600;
}
.details{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: flex-start;
    color:aliceblue;
    font-size: large;
    font-weight: 600;
    width: 60%;
}
.det-img{
    width: 25px;
    height: 25px;
    margin-right: 12px;
}
.det-sub{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .circle-progress{
        width: 40%;
        padding-left: 40px;
    }
    .sub-sub{
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .details{
        font-size: 15px;
        text-align: center;
        padding-left: 20px;
    }
    .bar-progress{
        width: 100%;
    }
    .sub-sub{
        font-size: 16px;
    }
  }
  
  /* @media only screen and (max-width: 900px) and (min-width:600px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .circle-progress{
        width: 30%;
        padding-left: 40px;
    }
    .sub-sub{
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .details{
        font-size: 15px;
        text-align: center;
        padding-left: 20px;
    }
    .bar-progress{
        width: 50%;
    }
    .sub-sub{
        font-size: 16px;
    }
  } */
  